<nav class="sticky top-0 z-10 block w-full max-w-full px-4 py-2 bg-white border rounded-none shadow-md h-max border-white/80 bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4">
    <div class="flex items-center justify-between text-blue-gray-900">
        <a href="/"
            class="mr-4 block cursor-pointer py-1.5 font-sans text-base font-medium leading-relaxed text-inherit antialiased">
            🎅 AD Ticket
        </a>
        <div class="hidden mr-4 lg:block">
            <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
                <% if (authToken) { %>
                    <li class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        <a href="/adminpanel" class="flex items-center">
                            Admin Panel
                        </a>
                    </li>
                    <li class="block p-1 font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
                        <a href="/adminpanel/logout" class="flex items-center">
                            Logout
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
